.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.linkWrapper {
  padding: 5px;
  margin: 1px;
  border: 1px solid;
}

.linkWrapper:hover {
  background-color: rgba(65, 103, 31, 0.115);
}
